@page "/databindingExample"
<p> @MyParameter</p>
<input type="text" @bind-value="MyParameter" @bind-value:event="oninput">

@code{

    [Parameter]
    public string myParameter { get; set; }

    private string MyParameter
    {
        get => myParameter;
        set
        {
            myParameter = value.ToUpper();
        }
    }
}