@page "/additionalP3"
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@using XebecPortal.Shared
@using XebecPortal.Client.GamifiedApplicationTestEnv.PhaseTwo.Shared

<div class="wrapper">
    <div class="nav">
        <NavMenuP3 />
    </div>
    <div class="main-body">
        <div class="progress-div">
            <div class="progress-img">
                <i class="fa fa-user-circle material-none"></i>
            </div>
            <div class="progress-line">
            </div>
            <div class="progress-img">
                <i class="fa fa-graduation-cap material-none"></i>
            </div>
            <div class="progress-line">
            </div>
            <div class="progress-img">
                <i class="fa fa-briefcase material-none"></i>
            </div>
            <div class="progress-line">
            </div>
            <div class="progress-img">
                <i class="fa fa-laptop material-color"></i>
            </div>
        </div>
        <div class="form-div">
            <h1>Additional Information</h1>
            <form class="main-form">
                <div class="form-group form-check-inline form-group-first">
                    <i class="fa fa-github mr-2" style="color: black;"></i>
                    <input type="text" class="form-control form-control-style" id="github" placeholder="Github Link" @bind="AdditionalInformation.GitHubLink">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="github-check">
                </div>
                <div class="form-group form-check-inline form-group-others">
                    <i class="fa fa-facebook mr-2" style="color: #4267B2;"></i>
                    <input type="text" class="form-control form-control-style" id="facebook" placeholder="Facebook" @bind="AdditionalInformation.FacebookLink">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="facebook-check">

                </div><br>
                <div class="form-group form-check-inline form-group-others">
                    <i class="fa fa-linkedin mr-2" style="color:#0077b5"></i>
                    <input type="text" class="form-control form-control-style" id="linkedin" placeholder="LinkedIn" @bind="AdditionalInformation.LinkedInLink">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="linkedin-check">
                </div>
                <div class="form-group form-check-inline form-group-others">
                    <i class="fa fa-globe mr-1" style="color:orange;"></i>
                    <input type="text" class="form-control form-control-style" id="website" placeholder="Website" @bind="AdditionalInformation.PersonalWebsiteUrl">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="website-check">

                </div><br>

                <div class="form-group form-check-inline form-group-text-area">

                    <BlazorInputFile.InputFile class="dropzone" style="border: none;" id="fileInput" OnChange="@OnInputFileChange" accept="image/png,image/gif,image/jpeg,application/pdf,application/msword" />

                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="job-description-check">
                </div><br />
                <div class="form-group form-check-inline form-group-others">
                    @if (selectedFiles != null && selectedFiles.Count > 0)
                    {
                        <div class="drop-zone-button-div">
                            <ul>
                                @foreach (var file in selectedFiles)
                                {
                                    <li>
                                        @file.Name
                                        <button class="drop-zone-button" type="button" @onclick="@(e => RemoveFile(file))">Remove</button>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                <div class="add-button-div">
                    <button type="submit" class="add-button">Add</button>
                </div><br />
            </form>
            <form class="div-buttons">
                <NavLink class="buttondivs" href="/work-history">
                    <div class="btn-previous">
                        <h2 class="nav-item">Previous</h2>
                    </div>
                </NavLink>
                <NavLink class="buttondivs" href="/">
                    <div class="btn-next">
                        <h2 class="nav-item">Submit</h2>
                    </div>
                </NavLink>
            </form>
        </div>
    </div>
</div>