@page "/educationalP3"
@inject IJSRuntime JS
@inject NavigationManager NavigationManager
@using XebecPortal.Client.GamifiedApplicationTestEnv.PhaseTwo.Shared

<div class="wrapper">
    <div class="nav">
        <NavMenuP3 />
    </div>
    <div class="main-body">
        <div class="progress-div">
            <div class="progress-img">
                <i class="fa fa-user-circle material-none"></i>
            </div>
            <div class="progress-line"></div>
            <div class="progress-img">
                <i class="fa fa-graduation-cap material-color"></i>
            </div>
            <div class="progress-line"></div>
            <div class="progress-img">
                <i class="fa fa-briefcase material-none"></i>
            </div>
            <div class="progress-line">
            </div>
            <div class="progress-img">
                <i class="fa fa-laptop material-none"></i>
            </div>
        </div>
        <div class="form-div">
            <h1>Education</h1>
            <EducationFormP3 />
            <div class="add-button-div">
                <button class="add-button" @onclick="addNewDiv">Add</button>
            </div><br />
            @* Displays all form components saved in the the forms list *@
            @for (int i = 0; i < forms.Count; ++i)
            {
                @forms[i];
                <div class="add-button-div">
                    <button class="add-button" @onclick="addNewDiv">Add</button>
                    <button class="add-button" @onclick="(()=>removeDiv(i-1))">Remove</button>
                </div><br />

            }
            <form class="div-buttons">

                <NavLink class="buttondivs" href="/personal-details">
                    <div class="btn-previous">
                        <h2 class="nav-item">Previous</h2>
                    </div>
                </NavLink>

                <NavLink class="buttondivs" href="/work-history">
                    <div class="btn-next">
                        <h2 class="nav-item">Next</h2>
                    </div>
                </NavLink>

            </form>
        </div>
    </div>

</div>