@page "/personal-detailsP3"
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@using XebecPortal.Client.Shared
@using XebecPortal.Client.GamifiedApplicationTestEnv.PhaseTwo.Shared

<div class="wrapper">
    <div class="nav">
        <NavMenuP3 />
    </div>
    <div class="main-body">
        <div class="progress-div">
            <div class="progress-img">
                <i class="fa fa-user-circle material-color"></i>
            </div>
            <div class="progress-line"></div>
            <div class="progress-img">
                <i class="fa fa-graduation-cap material-none"></i>
            </div>
            <div class="progress-line"></div>
            <div class="progress-img">
                <i class="fa fa-briefcase material-none"></i>
            </div>
            <div class="progress-line">
            </div>
            <div class="progress-img">
                <i class="fa fa-laptop material-none"></i>
            </div>
        </div>
        <div class="form-div">
            <h1>Personal Details</h1>
            <form class="main-form">
                <div class="form-check-inline form-group-others">
                    <input type="text" id="firstname" pattern="" class="form-control form-control-style" @bind="PersonalInfo.FirstName" placeholder="First Name">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="first-name-check">

                </div>
                <div class="form-check-inline form-group-others">
                    <input type="text" id="lastName" class="form-control form-control-style" @bind="PersonalInfo.LastName" placeholder="Last Name">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="last-name-check">
                </div>
                <div class="form-check-inline form-group-others">
                    <input type="text" id="phonenumber" class="form-control form-control-style" @bind="PersonalInfo.PhoneNumber" placeholder="Phone Number">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="phone-number-check">
                </div>
                <div class="form-check-inline form-group-others">
                    <input type="text" id="email" class="form-control form-control-style" @bind="PersonalInfo.Email" placeholder="Email">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="email-check">
                </div>
                <div class="form-check-inline form-group-others">
                    <input type="text" id="idnumber" class="form-control form-control-style" @bind="PersonalInfo.IdNumber" placeholder="ID Number">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="id-number-check">
                </div>
                <div class="form-check-inline form-group-others">
                    <label for="disability" class="m-2">Disability:    </label>
                    <select class="form-control form-control-style" @onchange="OnDisabilityChanged" title="Disability" id="disability">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="disability-check">
                </div>
                <div class="form-check-inline form-group-others">
                    <select class="form-control form-control-style" @onchange="OnGenderChanged" title="Gender" id="gender">
                        <option value="empty" selected disabled="disabled">(Gender)</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="NA">Rather Not Say</option>
                    </select>
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="gender-check">
                </div>
                <div class="form-check-inline form-group-others">
                    <input type="text" id="ethnicity" class="form-control form-control-style" @bind="PersonalInfo.Ethnicity" placeholder="Ethnicity">
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="ethnicity-check">
                </div>
                <div class="form-group form-check-inline form-group-text-area">
                    <textarea type="text" class="form-control form-control-text-area" rows="2" id="textarea" placeholder="Address" @bind="PersonalInfo.Address"></textarea>
                    <input type="checkbox" class="form-check-input" style="margin-left: 5%;" id="address-check">
                </div>
            </form>
        </div>
        <form class="div-buttons">

            <NavLink class="buttondivs" href="/">
                <div class="btn-previous">
                    <h2 class="nav-item">Previous</h2>
                </div>
            </NavLink>
            <NavLink class="buttondivs" href="/educational">
                <div class="btn-next">
                    <h2 class="nav-item">Next</h2>
                </div>
            </NavLink>

        </form>
    </div>
</div>