@page "/NavMenuP3"

<div class="left">
    <h4 class="heading">Xebec Application Portal</h4>
</div>
<div class="right">
    <div class="navimage">
        <i class="fa fa-bars"></i>
    </div>
    <div class="navimage">
        <i class="fa fa-user"></i>
    </div>

</div>