@page "/addposts2"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@using System.Net.Http

@code{ 
    int i = 0;
}
<style>

    @@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

    * {
        font-family: 'Montserrat', sans-serif;
    }

    .wrapper {
        height: 100vh;
        width: 100%;
    }

    .nav {
        height: 10vh;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        width: 100%;
        display: flex;
    }

    .main-body {
        height: 90vh;
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }

    /*  .progress-img {
        height: 100%;
        width: 10%;
        text-align: center;
        margin-top: 0px;
    }

    .progress-line {
        height: 100%;
        width: 20%;
        text-align: center;
    }*/

    .form-div {
        height: 95%;
        margin-bottom: 5%;
        width: 100%;
        /*display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;*/
    }

    .heading {
        height: 5%;
        margin-bottom: 5%;
    }

    .main-form {
        height: 70%;
        margin-bottom: 5%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .div-buttons {
        height: 5%;
        margin-bottom: 10%;
        display: flex;
        align-content: center;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        justify-content: center;
    }

    .form-group-others {
        width: 100%;
        padding-top: 5%;
        margin: auto;
    }

    .form-group-text-area {
        width: 70%;
        margin: auto;
        height: auto;
        padding-top: 5%;
    }

    .form-control-style {
        border: 2px darkgrey solid;
    }

    .form-control-text-area {
        border: 2px darkgrey solid;
        width: 100%;
    }

    .buttondivs {
        height: 80%;
        width: 50%;
        margin-bottom: 20%;
        border: none;
        color: white;
    }

        .buttondivs:hover {
            text-decoration: none;
        }

    .add-button-div {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    h1 {
        font-size: 30px;
        text-align: center;
    }

    /*   .material-icon {
        font-size: 50px;
        text-align: center;
        margin: 0;
    }

    .material-line {
        font-size: 50px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
        height: 100%;
        background-color: maroon;
    }

    .no-material-line {
        font-size: 50px;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 0;
        background-color: white;
    }

    .material-color {
        font-size: 50px;
        text-align: center;
        margin: 0;
        color: purple;
    }

    .material-none {
        font-size: 50px;
        text-align: center;
        margin: 0;
    }

    .no-form-icon {
        color: lightgrey;
    }

    .form-icon {
        color: black;
    }

    .labels-div {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5px;
        display: flex;
        height: 30px;
    }

    label {
        margin-top: 5px;
        color: black;
        font-size: 15px;
    }

    .mini-label1 {
        width: 40%;
        display: inline-block;
        margin-right: 9%;
        margin-left: 1%;
    }

    .mini-label2 {
        display: inline-block;
        width: 40%;
        margin-left: 4.5%;
    }*/

    h2 {
        text-decoration: none;
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    .top-div {
        width: 80%;
        display: flex;
        height: 30%;
        margin: auto;
    }

    .left-div {
        width: 45%;
        height: 100%;
        margin: auto;
    }

    .right-div {
        width: 45%;
        height: 100%;
        margin: auto;
    }
</style>

<div class="wrapper">

    <div class="main-body">

        <div class="form-div">

            <div class="heading">
                <h1>Add Post</h1>
            </div>

            <form class="main-form">

                <div class="form-group top-div">
                    <div class="form-group left-div">

                        <div class="form-group-others">
                            <input type="text" class="form-control form-control-style" placeholder="Job Title" @bind="job.Title">
                        </div>

                        <div class="form-group-others">
                            <input type="text" class="form-control form-control-style" placeholder="Location" @bind="job.Location">
                        </div>

                        <div class="form-group-others">
                            <input type="text" class="form-control form-control-style" placeholder="Compensation" @bind="job.Compensation">
                        </div>
                    </div>
                    <div class="form-group right-div">

                        <div class="form-group-others">
                            <select class="custom-select right-input" id="inputGroupSelect01" @onchange="OnDepartmentChanged">
                                <option selected disabled>--Select Department--</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Legal">Legal</option>
                                <option value="IT">IT</option>
                            </select>
                        </div>

                        <div class="form-group-others">
                            <select class="custom-select right-input select2Multi" id="select2DDB" multiple="multiple">
                                @foreach (var items in jobTypes)
                                {
                                    <option value="@items.Id">@items.Type</option>
                                }
                            </select>
                        </div>
                        
                        <div class="form-group-others">
                            @foreach (var items in jobPlatform)
                            {
                            <span>@if (items.PlatformName != "LinkedIn"){<span>&nbsp;&nbsp;&nbsp;</span>}<input type="checkbox" value="@items.Id" @onchange="eventArgs => { CheckboxClicked(items.Id, eventArgs.Value); }">&nbsp;@items.PlatformName</span>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group form-check-inline form-group-text-area">
                    <textarea class="form-control input textarea" rows="5" @bind="job.Description" placeholder="Job Description" />
                </div><br />

                <div class="form-group add-button-div">
                    <button type="button" style="width:150px" @onclick="SendData" class="btn btn-outline-info btn-sm">Add</button>
                </div><br />
            </form>
        </div>
    </div>
</div>