@page "/dashboard"

<div class="container">

    <h3 class="d-flex justify-content-center mt-5">Dashboard</h3>

    <div class="ratio ratio-21x9 boarder">

        <iframe width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=ec9200a9-d4f7-4b43-a972-ec12f01dc092&groupId=e7de2534-90ca-418d-8fec-ce9ef17c3cb6&autoAuth=true&ctid=8f4b998c-dd4c-4bb0-b3cf-62b23831b6e6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLW5vcnRoLWV1cm9wZS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" allowFullScreen="true"></iframe>

    </div>

</div>

@code {

}
