<style>

    .unauthorized-container
    {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

</style>


<div class="unauthorized-container">

    <h1>Sorry, you have to log in first</h1>
    <a href="/loginbeta">Go to Login Page</a>

</div>