@page "/"
@inject NavigationManager Navigation

<style>

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 10px;  
}

.header
{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 51, 64, 0.8), rgba(4, 78, 91, 0.8)), url(/img/home_1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    
    @* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); *@
}

.logo-box
{
    position: absolute;
    top: 40px;
    left: 40px;
}

.text-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary
{
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main
{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
   

    animation: moveInLeft 0.5s ease-in-out;

}

@@keyframes moveInLeft
{
   0%
    {
        opacity: 0;
        transform: translateX(150px);
    }

   
    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited
{
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}

.btn:hover
{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active
{
     transform: translateY(-1px);
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white
{
    background-color: #fff;
    color: #777;
}

.btn:after
{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white:after
{
    background-color: #fff;
}

.btn:hover:after
{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated
{
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

@@keyframes moveInBottom
{
   0%
    {
        opacity: 0;
        transform: translateY(30px);
    }

    100%
    {
        opacity: 1;
        transform: translate(0);
    }
}

.main, .main-sub
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: top;
    position: relative;
}

.main
{
    background-image: linear-gradient(rgba(0, 51, 64, 0.9), rgba(4, 78, 91, 0.9)), url(/img/code_1.jpg);   
    justify-content: space-around;
}

.main-pic
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-pic img
{
    width: 80%;
    height: 80%;
    border-radius: 5px;
    opacity: 0.6;
    border: 5px solid #fff;
}

.main-comment
{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #fff;
    font-weight: 200;
}

.main-sub
{
    justify-content: space-evenly;    
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 51, 64, 0.9), rgba(4, 78, 91, 0.9)), url(/img/code_2.jpg);
}

.box
{
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(171,219,227, 0.5);
    color: #fff;
}

</style>


<header class="header">
    <div class="logo-box">
       <span class="iconify" data-icon="fa-solid:user-astronaut" style="color: white;" data-width="50"></span>
    </div>

    <div class="text-box">
    
        <h1 class="heading-primary">

            <span class="heading-primary-main">Xebec</span>
            @* <span class="heading-primary-sub">A unified recruitment eco-system</span> *@

        </h1>

        <a href="/login" class="btn btn-white btn-animated">Explore</a>
    
    </div>

</header>

<section class="main">

    <div class="main-pic">

        <img src="img\christina.jpg" alt="christina">

    </div>

    <div class="main-comment">

        "Amazing company. Awesome managers. Great pay with regular raises. Super fun work environment and I adore my coworkers."
        <br/>
        - Sam, Developer.

    </div>
   
</section>

<section class="main-sub">

    <div class="box">
        Streamline the Recruitment Experience   
    </div>
    <div class="box">
        Connect with Vetted Candidates
    </div>
    <div class="box">
        Adaptive Scoring System 
    </div>
    <div class="box">
        One-click Hiring
    </div>
    <div class="box">
        A Sea of Talent
    </div>
    <div class="box">
        Analytical Feedback in a Unified Space
    </div>

</section>
