@page "/profile"

<style>

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: #5CCADA ;     }

    .side-card {
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EAEAEA;
        border-style: solid;
        border-width: 5px;
        border-color: #D5D5D5;
        box-shadow: 5px 10px 8px #888888;
    }

    .picture {
        width: 90%;
        height: 40%;
        display: flex;
        justify-content: center;
        background-color: #EAEAEA;
        margin-top: 30px;
    }

    .description {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        background-color: #EAEAEA;
        margin-top: 20px;
    }

    .right {
        width: 70%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #EAEAEA;
        margin-left: 20px;
        border-style: solid;
        border-width: 5px;
        border-color: #D5D5D5;
        box-shadow: 5px 10px 8px #888888;
    }

    .about { 
         
        width : 90% ; 
        height : 40% ; 
        display : flex ; 
        flex-direction : row ; 
        background-color : white ; 
        margin-top : 30px; 


    }
    
    .experience {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction : row ; 
        background-color: white;
        margin-top: 30px;
    }

    .name {
        width: 100%;
        height: 10%;
        display: flex;
        background-color: white;
        align-items: center;
        margin-left: 2px;
        padding: 10px;
    }

    .details {
        width: 100%;
        height: 90%;
        display: flex;
        background-color: white;
        margin-left: 2px;
        padding : 10px ;
    }

    .experiencedetails {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        background-color: white;
        
    }

    .experience-heading {
        width: 50%;
        height: 10%;
        display: flex;
        background-color: white;
        margin-left: 5px;
      
    }
    .experience-description {
        width: 100%;
        height: 90%;
        display: flex;
        background-color: white;
        padding: 10px;
    }

    .education {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color : white ;
    }

    .education-description {
        width: 100%;
        height: 90%;
        display: flex;
        background-color: white;
        padding: 10px;
    }

    .left-about {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding : 10px ;
    }

    .right-about {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
       
    }



    .about-description {
        width: 100%;
        height: 90%;
        display: flex;
        background-color: white;
    }

    .about-details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 5px;
    
    }

    .about-details-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 5px;
        margin-top : 20px; 
    }

    .experience-text { 
        color : dodgerblue ; 
    }
  

</style>



<div class="container">

    <div class="side-card">

        <div class="picture">

            <img src="\img\profile.png" alt="profile" width= "250" height="230" />

        </div>

        <div class="description">

            <div class="name">

                <span><strong>Jane Doe</strong></span>

            </div>

            <div class="details">
                <p>
                    Owner at Her Company Inc. <br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, eligendi dolorum sequi illum qui unde aspernatur non deserunt.

                </p>


            </div>


        </div>

    </div>

    <div class="right">

        <div class="about">

            <div class="left-about">

                <div class="experience-heading">
                    <span><strong>About: </strong></span>
                </div>

                <div class="about-description">

                    <div class="about-details">

                        <p><strong>First Name:</strong> Jane</p>
                        <p><strong>Gender:</strong> Female</p>
                        <p><strong>Email:</strong> jane@example.com</p>

                    </div>



                </div>

            </div>

            <div class="right-about">


                <div class="about-description">

                    <div class="about-details-right">

                        <p><strong>Last Name:</strong> Doe</p>
                        <p><strong>Contact Number:</strong> 0842140296</p>
                        <p><strong>Location:</strong> Durban</p>


                    </div>



                </div>

            </div>

        </div>
       
        <div class="experience">

            <div class="experiencedetails">

                <div class="experience-heading">
                    <span><strong>Experience: </strong></span>
                </div>

                <div class="experience-description">

                    <p>
                        <span class="experience-text"> Owner at Her Company Inc.</span><br />
                        March 2020 - Now<br />
                        <span class="experience-text"> Owner at Her Company Inc.</span><br />
                        March 2020 - Now<br />
                        <span class="experience-text"> Owner at Her Company Inc.</span><br />
                        March 2020 - Now<br />
                        <span class="experience-text"> Owner at Her Company Inc.</span><br />
                        March 2020 - Now
                    </p>
                </div>

            </div>

            <div class="education">
                <div class="experience-heading">
                    <span><strong>Education: </strong></span>
                </div>
                <div class="education-description">
                    <p>
                        <span class="experience-text"> Masters Degree in Oxford</span><br />
                        March 2020 - Now <br />
                       <span class="experience-text">Bachelors Degreen in LPU </span> <br />
                        March 2020 - Now <br />
                    </p>
                   
                </div>

            </div>


        </div>


    </div>





</div>