@page "/test"
@inject NavigationManager _navigationManager

<h1>Log in</h1>
<button class="btn btn-primary" @onclick="GoogleSignIn">Google</button>
<button class="btn btn-primary ml-3" @onclick="GitHubSignIn">GitHub</button>
<button class="btn btn-primary ml-3" @onclick="TwitterSignIn">Twitter</button>
<button class="btn btn-primary ml-3" @onclick="LinkedInSignIn">LinkedIn</button>

@code
{
    private void GoogleSignIn()
    {
        _navigationManager.NavigateTo("api/ThirdPartyUser/GoogleSignIn", true);
    }

    private void GitHubSignIn()
    {
        _navigationManager.NavigateTo("api/ThirdPartyUser/GitHubSignIn", true);
    }

    private void TwitterSignIn()
    {
        _navigationManager.NavigateTo("api/ThirdPartyUser/TwitterSignIn", true);
    }

    private void LinkedInSignIn()
    {
        _navigationManager.NavigateTo("api/ThirdPartyUser/LinkedInSignIn", true);
    }
}

